<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="Trips.tracker,tripsfull,trip tracking, trips APK, family trip, trip journal, journaling, save the date, memorys">
        <link rel="stylesheet" href="/public/stylesheets/style.css">
        <title>TripsFull beta v1.0</title>
    
    </head>
    
  <body>
    <h1>{{title}}</h1>
     <p>Welcome to {{title}}</p>
     <h2>{{login}}</h2>
    <input type="text" placeholder="Enter Username" name="userName" />
    <input type="text" placeholder="Enter Password" name="userPass" />
    <button type="submit">Login</button>

  </body>
</html>